{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load allauth %}
{% block head_title %}
    {% trans "Change Password" %}
{% endblock head_title %}
{% block content-left %}
    {% element h1 %}
        {% trans "Change Password" %}
    {% endelement %}
    
{% endblock content-left %}

{% block content-right %}
    {% element p %}
        {% trans 'Your password is now changed.' %}
    {% endelement %}
    <div class="d-flex justify-content-center">
        <a class="btn btn-primary" href="{% url 'account_login'%}" >
            Login
        </a>
    </div>
{%endblock content-right %}
